<!DOCTYPE html>
<html>
<head>
    <title>登录页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,height=device-height,
    user-scalable=no,maximum-scale=1.0,minimum-scale=1.0">
    <meta name="keywords" content="学生管理系统"/>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../public/stylesheets/index.css">
</head>
<body>
    <header>学生管理系统</header>
    <div class="contant" id="whole">
        <div class="panel panel-default main-panel">
            <div class="panel-heading">
                <h3 class="panel-title">请先登录或注册</h3>
            </div>
            <form class="form-group" v-on:submit.prevent>
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>
                    </span>
                    <input type="text" class="form-control" placeholder="输入您的登录名" v-model="userName">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                    </span>
                    <input type="text" class="form-control" placeholder="输入您的密码" v-model="userPass">
                </div>
                <div class="input-group"> 
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </span>
                    <input type="button" value="登  录" class="form-control" v-on:click="login">
                </div>
                <div class="input-group"> 
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </span>
                    <input type="button" value="注  册" class="form-control" v-on:click="register">
                </div>
            </form>
        </div>
    </div>
    <footer>Autor @maple</footer>
    <script src="http://cdn.bootcss.com/vue/2.0.3/vue.js"></script>
    <script src="../public/javascripts/index.js"></script>
    <script src="../public/javascripts/libs/sha1.js"></script>
</body>
</html>