.panel-heading {
  text-align: center;
  border-top: 1px solid transparent;
  font-size: 1.2em;
  font-weight: bold;
  background-color: #eee !important;
}

.input-group {
  margin-bottom: 15px;
}

#comment-box {
  width: 100%;
}

#comment {
  resize: none;
  margin-bottom: 15px;
}

#main {
  width: 40%;
  margin: 30px auto 0 auto;
  .form-group {
    overflow: hidden;
    .send-btn {
      float: right;
    }
    .text-num-limit {
      float: left;
      font-size: 1em;
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 450px) {
  // 使用移动设备时
  #main {
    width: 90% !important;
    padding: 15px;
  }
}

.msg-box {
  overflow: hidden;
  border-bottom: 1px solid #CCC;
  margin-bottom: 10px;
  .head-img {
    float: left;
    width: 10%;
    margin: 10px 15px;
  }
  .text-box {
    float: left;
    width: 80%;
    word-break: break-all;
  }
}

.item-move {
  /* applied to the element when moving */
  transition: transform .5s cubic-bezier(.55, 0, .1, 1);
}