<!DOCTYPE html>
<html>
<head>
	<title>留言板</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,height=device-height,
	user-scalable=no,maximum-scale=1.0,minimum-scale=1.0">
	<meta name="keywords" content="在线多人留言板"/>
	<link rel="stylesheet" href="/stylesheets/libs/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="/stylesheets/index.css">
	<!-- <link rel="stylesheet" href="../public/stylesheets/libs/Normalize.css"> -->
	<!-- bootstrap本身就使用了Normalize.css -->
</head>
<body id="wholePage">
	<div id="main" class="panel panel-default">
		<div class="panel-heading">留言发布区</div>
		<div class="panel-body">
			<form class="form-group" action="" v-on:submit.prevent="sendMsg">
				<div class="input-group">
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-user"></span>
					</span>
					<input type="text" placeholder="您的ID" class="form-control" v-model="userId">
				</div>
				<textarea  spellcheck="false" id="comment" type="text" placeholder="输入留言.." class="form-control" v-model="comment" rows="5" @input="inputComment" @keydown="checkComment"></textarea>
				<span class="text-num-limit">还可以输入{{textNumLimit}}个字</span>
				<button type="submit" class="btn btn-default send-btn">发布</button>
			</form>
		</div>
		<div class="panel-heading">已经发布的留言</div>
		<div class="panel-body">
			<div v-for="msg in msgs" class="msg-box" transition="item">
				<img class="head-img" :src="msg.headImgSrc">
				<div class="text-box">
					<h4 class="user-name pull-left"><strong>{{msg.userId}}</strong></h4>
                    <button class="pull-right btn btn-sm btn-primary">编辑</button>
					<p class="user-comment">{{msg.comment}}</p>
					<p class="pull-left small text-info date">{{msg.date}}</p>
				</div>
			</div>
		</div>
		<div class="panel-heading">已无更多</div>
	</div>
<script src="/javascripts/libs/vue.js"></script>
<script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
<script src="/javascripts/libs/vue-animated-list.js"></script>
<script src="/javascripts/index.js"></script>
</body>
</html>