body {
  min-height: 100vh;
  background: url(../images/bgc5.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
}
header {
  background-color: #0091ea;
  width: 100%;
  height: 40px;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
  font-weight: bold;
}
.center-flex {
  display: flex;
  justify-content: center;
  padding: 15px;
}
.left-menu {
  width: 200px;
}
.left-menu ul {
  width: 100%;
}
.left-menu ul li {
  width: 100%;
  cursor: pointer;
  background: #fff;
  color: #37474f;
  text-align: center;
  transition: all .5s ease;
}
.left-menu ul li:hover,
.left-menu ul .active {
  background: #0288d1;
  color: #fff;
}
.right-content {
  flex: 1;
}
.right-content section {
  width: 100%;
}
.right-content .post-row .list-group {
  margin-bottom: 3px;
}
.right-content .post-row ul {
  display: flex;
  flex-wrap: wrap;
}
.right-content .post-row ul .list-group-item:first-child {
  border-radius: 4px 0 0 4px;
}
.right-content .post-row ul .list-group-item:last-child {
  border-radius: 0 4px 4px 0;
}
.right-content .post-row li {
  flex: 1;
  justify-content: center;
  text-align: center;
  color: #37474f;
  margin-bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.right-content .strong ul li {
  color: black;
  background-color: #eceff1;
}
button {
  background-color: #0091ea;
  color: #fff;
  transition: all .5s ease;
  border: none;
}
button:hover {
  background-color: #0288d1;
}
.list-enter-active,
.list-leave-active {
  transition: all 1s;
}
.list-enter,
.list-leave-active {
  opacity: 0;
  transform: translateY(30px);
}
.list-move {
  transition: transform 1s;
}
.no-padding {
  padding: 0!important;
}
